{% extends "lms/base/base.html" %}

{% load static %}

{% block content %}
    <div class="columns" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="column col-9">
            <h4 class="w3-text-teal">You're creating a new course</h4>

            <form method="post" enctype="multipart/form-data" action="{% url 'add_course' %}">
            {% csrf_token %}
                <label class="form-label" for="course_name">Course name</label>
                <input class="form-input" type="text" id="course_name" name="course_name" placeholder="Name">

                <label class="form-label" for="course_description">Course description</label>
                <textarea class="form-input" id="course_description" name="course_description" placeholder="" rows="10" cols="60"></textarea>

                <label class="form-label" for="input_file">Cover image</label>
                <input type="file" class="form-input" id="input_file" name="input_file">

                <div class="form-group" style="padding-top: 10px;">
                    <button class="btn btn-primary" type="submit">Save course</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}