{% extends "lms/base_with_sidebar.html" %}

{% block content %}
    <h1 class="w3-text-teal">Welcome to Greeble!</h1>

    <p>Continue with your ongoing courses, create a new one or explore courses made by others:</p>

    {% if course_in_progress_list %}
        <table width="500px">
            {% for course in course_in_progress_list %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if available_course_list %}
        <h3 class="w3-text-teal">Explore courses made by others</h3>

        <table width="500px">
            {% for course in available_course_list %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}