{% extends "lms/base_with_sidebar.html" %}

{% block content %}
    {% if published_course_list %}
        <h3 class="w3-text-teal">My Courses</h3>

        <table width="500px">
            {% for course in published_course_list %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if draft_course_list %}
        <h3 class="w3-text-teal">Drafts</h3>

        <table width="500px">
            {% for course in draft_course_list %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p><a href="/lms/course/new">Create a new course</a></p>

    {% if completed_course_list %}
        <h3 class="w3-text-teal">Completed Courses</h3>

        <table width="500px">
            {% for course in completed_course_list %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}