{% extends "lms/base_with_sidebar.html" %}

{% block content %}
<h1 class="w3-text-teal">List of available courses</h1>
{% if course_list %}
    <table width="500px">
        <tr>
            <td><b>Name</b></td>
            <td><b>Completion status</b></td>
            {% if user_is_content_manager %} <td><b>Status</b></td> {% endif %}
        </tr>

        {% for course in course_list %}
            {% if user_is_content_manager or course.status.name == "published" %}
                <tr>
                    <td><a href="/lms/course/{{ course.id }}">{{ course.name }}</a></td>
                    <td>
                        {% if course.is_completed == True %}
                            <b style="color:Green">Completed</b>
                        {% else %}
                            <b style="color:Red">Not completed</b>
                        {% endif %}
                    </td>
                    {% if user_is_content_manager %} <td>{{ course.status.name }}</td> {% endif %}
                    {% if user_is_content_manager %} <td><a href="/lms/course/{{ course.id }}/remove">Delete</a></td> {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
{% if user_is_content_manager %}
    <p><a href="/lms/course/new">Create a new course</a></p>
{% endif %}
{% endblock %}