{% extends "lms/base_with_sidebar.html" %}

{% block content %}
<h1 class="w3-text-teal">{{ course.name }}</h1>

<form action="{% url 'save_course' course.id %}" method="post">
{% csrf_token %}
    <p><b>Course name:</b></p>
    <input type="text" name="course_name" size="60" value="{{ course.name }}"/>
    <p><b>Course description:</b></p>
    <textarea name="course_description" rows="10" cols="60">{{ course.description }}</textarea>
    </p>
    <input type="submit" value="Save changes" />
</form>

</p>

{% if slide_list %}
<p><b>Course slide list:</b></p>
    <table width="1000px">
    <tr>
        <td><b>ID</b></td>
        <td><b>Name</b></td>
        <td><b>Type</b></td>
        <td><b>Previous slide ID</b></td>
        <td><b>Next slide ID</b></td>
    </tr>
    {% for slide in slide_list %}
        <tr>
            <td>{{ slide.id }}</td>
            <td>{{ slide.name }}</td>
            <td>{{ slide.type }}</td>
            <td>{{ slide.previous_slide_id }}</td>
            <td>{{ slide.next_slide_id }}</td>

            {% if slide.type.code == 'slide' %}
                <td width="200px"><a href="/lms/course/{{ course.id }}/slide/{{ slide.id }}/edit">Edit slide</a></td>
                <td width="200px"><a href="/lms/course/{{ course.id }}/slide/{{ slide.id }}/remove">Remove slide</a></td>
            {% else %}
                <td width="200px"><a href="/lms/course/{{ course.id }}/question/{{ slide.id }}/edit">Edit question</a></td>
                <td width="200px"><a href="/lms/course/{{ course.id }}/slide/{{ slide.id }}/remove">Remove question</a></td>
            {% endif %}

        </tr>
    {% endfor %}
    </table>
{% else %}
    <p><b>There are no slides available for this course.</b></p>
{% endif %}

<p><a href="/lms/course/{{ course.id }}/slide/new">Add a new slide</a></p>

<p><a href="/lms/course/{{ course.id }}/test/new">Add a new test</a></p>

<p><a href="/lms/course/{{ course.id }}/">Back to course details</a></p>
{% endblock %}
