{% extends "lms/base_with_sidebar.html" %}

{% block content %}
    <h1 class="w3-text-teal">You're adding a new question to course #{{ course.id }}</h1>

    <form action="{% url 'add_test' course.id %}" method="post" id="myform">
    {% csrf_token %}
    <p><b>Question caption:</b></p>
    <input type="text" name="question_caption" size="60"/>

    <link rel="canonical" href="https://quilljs.com/standalone/full/">
    <link type="application/atom+xml" rel="alternate" href="https://quilljs.com/feed.xml" title="Quill - Your powerful rich text editor" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
    <link rel="stylesheet" href="/static/website/assets/css/quill.snow.css" />

    <style>
        body > #standalone-container {
            margin: 50px auto;
            max-width: 720px;
        }
        #editor-container {
            height: 350px;
        }
    </style>

    <p><b>Question text:</b></p>

    <div id="standalone-container">
      <div id="toolbar-container">
        <span class="ql-formats">
          <select class="ql-font"></select>
          <select class="ql-size"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub"></button>
          <button class="ql-script" value="super"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-header" value="1"></button>
          <button class="ql-header" value="2"></button>
          <button class="ql-blockquote"></button>
          <button class="ql-code-block"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <button class="ql-indent" value="-1"></button>
          <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-direction" value="rtl"></button>
          <select class="ql-align"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-link"></button>
          <button class="ql-image"></button>
          <button class="ql-video"></button>
          <button class="ql-formula"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-clean"></button>
        </span>
      </div>
      <div id="editor-container"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="/static/website/assets/js/quill.min.js"></script>

    <input name="question_content" type="hidden">

    <table width="100%" id="answ_tbl">
    <thead>
      <tr>
          <th>Answer Text</th>
          <th>Is Correct?</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>

    <input type="button" id="addrow" value="Add New Answer" onClick="addAnswerRow(this)"/>

    <p><input type="submit" value="Create question" /></p>
    </form>

    <script type="text/javascript">
        function addAnswerRow(r) {
            var newRow = document.getElementById('answ_tbl').insertRow();

            var newCell = newRow.insertCell();
            newCell.innerHTML='<input type="text" id="answ_text_' + newRow.rowIndex + '" name="answ_text_' + newRow.rowIndex + '">';

            var newCellCheckbox = newRow.insertCell();
            newCellCheckbox.innerHTML = '<input type="radio" name="answ_radio" id="answ_radio_' + newRow.rowIndex + '" value="answ_radio_' + newRow.rowIndex + '">';

            var newCellDelButton = newRow.insertCell();
            newCellDelButton.innerHTML = '<input type="button" value="Delete" onclick="deleteRow(this);">';
        }

        function deleteAnswerRow(r) {
            var i = r.parentNode.parentNode.rowIndex;
            document.getElementById('answ_tbl').deleteRow(i);
        }

        // Add a single by default
        addAnswerRow();
    </script>

    <script>
        var quill = new Quill('#editor-container', {
            modules: {
                formula: true,
                syntax: true,
                toolbar: '#toolbar-container'
            },
            placeholder: 'Put question text here',
            theme: 'snow'
            }
        );

        var myform = document.querySelector('form');

        myform.onsubmit = function() {
            // Populate hidden form on submit
            var question_content = document.querySelector('input[name=question_content]');
            question_content.value = quill.root.innerHTML;

            document.querySelector('form').submit();

            return false;
        };
    </script>

    <p><a href="/lms/course/{{ course.id }}/edit">Back to the course edit page</a></p>
{% endblock %}