{% load static %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>LMS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static "/website/assets/css/main.css" %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Greeble</h1>
				<p>Welcome to Greeble - the most comprehensive Online Learning System.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="My Email Address" />
				<input type="submit" value="Sign Up" />
			</form>

		<form id="signin-form" method="get" action="/lms/login">
			<input type="submit" value="Log In" />
		</form>

		<!-- Scripts -->
		<script src="{% static "/website/assets/js/main.js" %}"></script>
	</body>
</html>